:root {
  --smallPadding: 8px;
  --normalPadding: 12px;
  --largePadding: 20px;
  --smallMargin: 8px;
  --normalMargin: 16px;
  --largeMargin: 24px;
  --smallGap: 8px;
  --normalGap: 16px;
  --largeGap: 24px;
}